<div class="function-list">
	{%- assign categories = include.bin.Categories -%}
	{%- assign tag_list = '' | split: ''%}
	{%- for category in categories -%}
		{%- for tag_item in category.Tags -%}
			{%- for tag_name in tag_item -%}
				{% assign tag_list = tag_list | push:tag_name[1] %}
			{%- endfor -%}
		{%- endfor -%}
	{%- endfor -%}
	{%- assign tags = tag_list | compact | uniq -%}
	{%- for tag in tags -%}
	{%- assign type = tag | downcase -%}
	<div><a href="{{ site.url | relative_url }}#/{{ type | url_encode | replace:'+','%20'}}">{{ tag }}</a></div>
	{%- endfor -%}
</div>
